body {
  font-family: "Roboto";
  color: #212121;
}
.unstyled-list {
  list-style: none;
}
.link:hover {
  color: #2196f3;
}
.link {
  text-decoration: none;
  color: #212121;
}

.company-name {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.contact-details {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}
h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
footer {
  background: #2f303a;
}
button {
  cursor: pointer;
  border: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
button:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.company-name-studio-footer {
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.company-name-studio-header {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
